<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinahuik.KubernetesManager.dao.KubeNamespaceDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chinahuik.KubernetesManager.model.KubeNamespace">
    <result column="id" property="id" />
    <result column="create_time" property="createTime" />
    <result column="created_by" property="createdBy" />
    <result column="update_time" property="updateTime" />
    <result column="updated_by" property="updatedBy" />
        <result column="cluster_id" property="clusterId" />
        <result column="namespace" property="namespace" />
        <result column="self_link" property="selfLink" />
        <result column="uid" property="uid" />
        <result column="resource_version" property="resourceVersion" />
        <result column="status_phase" property="statusPhase" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_time,
        created_by,
        update_time,
        updated_by,
        cluster_id,
        namespace, self_link, uid, resource_version, status_phase
    </sql>

</mapper>
