<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinahuik.wechat.systemConfig.dao.SystemConfigDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chinahuik.wechat.systemConfig.models.SystemConfigModel">
    <result column="id" property="id" />
    <result column="created_by" property="createdBy" />
    <result column="updated_by" property="updatedBy" />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
        <result column="group_id" property="groupId" />
        <result column="config_name" property="configName" />
        <result column="config_value" property="configValue" />
        <result column="description" property="description" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        created_by,
        updated_by,
        create_time,
        update_time,
        group_id, config_name, config_value, description
    </sql>

</mapper>
